PORT=5000

TYPEORM_CONNECTION=postgres
TYPEORM_URL=postgresql://dbuser:pass@localhost:5432/woodworking
TYPEORM_SYNCHRONIZE=true
TYPEORM_LOGGING=true
TYPEORM_ENTITIES=src/entity/**/*.ts
TYPEORM_MIGRATIONS=src/migration/**/*.ts
TYPEORM_SUBSCRIBERS=src/subscriber/**/*.ts
TYPEORM_ENTITIES_DIR=src/entity
TYPEORM_MIGRATIONS_DIR=src/migration
TYPEORM_SUBSCRIBERS_DIR=src/subscriber

CLOUDINARY_URL=cloudinary://<_KEY_>:<_SECRET_>@<_CLOUD_NAME_>

GOOGLE_APPLICATION_CREDENTIALS=/Users/christopheroverstreet/woodworking-api/serviceAccountKey.json
